.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(195, 165, 223);
    font-family: "Raleway", sans-serif;
    
}


.navigation_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    overflow: hidden;
    top:0;
    left: 0;
    right: 0;
    background-color: rgb(146, 123, 169);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.logo img {
    position: static;
    width: 220px;
    padding-left: 3em;

}

.nav_wide{
    display: flex;
}

.nav_list{
    display: none;
}

.item a {
    text-decoration: none;
    color: black;
}

.item {
    display: block;
    padding: 3em;
    font-size: 15pt;
    cursor: pointer;
}


.item:hover {
    background-color: rgb(75, 69, 81);
}

.item a:hover {
    color: azure;
}

#bars {
    position: absolute;
    justify-items: center;
    display: none;
}


#bars a {
    font-size: 30pt;
    color: rgb(53, 39, 89);
}

#bars a:active {
    color: aliceblue;
}


#nav_icons {
    padding-right: 3em;
}

#nav_icons a {
    font-size: 30pt;
    padding: 15px;
    text-decoration: none;
    color: rgb(192, 173, 231);
}


#nav_icons a:hover {
    color: aliceblue;
}

.add-items {
    display: none;
}



.add-items.visible {
    display: block;
    padding-top: 20vh;
    padding-left: 30px;
}

.add-items.visible li {
    list-style: none;
    font-weight: 600;
    font-size: 15pt;

}

.add-items.visible button {
    padding: 20px;
    margin-left: 2vh;
    border-radius: 50px;
    color: blueviolet;
    background-color: rgb(141, 129, 152);
    border-style: none;
}


h2,p {
    width: 90%;
    padding-top: 15px;
    padding-right: 2em;
    text-align: center;

}

h3 {
    font-weight: 200;
}

.about {
    display: grid;
    grid-template-columns: repeat(2,2fr);
}

section {
    padding-bottom: 3em;
    padding-top: 6em;
}

.main_description {
    padding-top: 30vh;
    padding-left:30px;
    background-color: rgb(77, 67, 91);
}

.main_description > h1 {
    font-size: 50pt;
    color: rgb(211, 217, 223);
}

.main_description > h2 {
    font-weight: 500;
    text-align: left;
    font-size: 18pt;
    color: rgb(169, 167, 179);
}

.main_image {
    background-color: black;
}


.main_image img {
    width: 60%;
    height: 75%;
    margin-left: 10em;
    margin-top: 15vh;
}


.description {
    padding-top: 5vh;
    padding-left:20px;
}

.new {
    background-color: rgb(180, 168, 191);
}

.arrivals {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 3em;
}

.arrivals img  {
    width: 80%;
    height: 70%;
    padding-bottom: 1em;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.season {
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/015/286/541/small_2x/christmas-background-festive-holiday-and-happy-new-year-decoration-snowflakes-pattern-on-red-lighting-for-greeting-card-graphic-design-vector.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.seasonal {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 3em;
}

.season {
    color: aliceblue;
}

.seasonal img  {
    display: flex;
    width: 80%;
    height: 70%;
    padding-bottom: 2em;
    box-shadow: rgba(233, 238, 239, 0.25) 0px 2px 5px -1px, rgba(242, 239, 239, 0.3) 0px 1px 3px -1px;
}

.products {
    background-color: rgb(164, 134, 180);
}

.original {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 3em;
}

.original img  {
    width: 80%;
    height: 70%;
    padding-bottom: 1em;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


#btn {
    width: 50%;
    margin-top: 1rem;
    margin-left: 5vh;
    display: flex;
    padding: 1em;
    border-radius: 50px;
    font-size: 12pt;
    color: rgb(255, 255, 255);
    font-weight: 600;
    background-color: rgb(123, 135, 145);
    border-style: none;
    cursor: pointer;

}

#btn:active {
    background-color: rgb(107, 127, 127);
}


/*Phone Screen*/

@media screen and (max-width:991px) {

    .about {
       grid-template-columns: none;
    }

    .main_description {
        padding-top: 12vh;
        padding-left:30px;
        background-color: rgb(77, 67, 91);
    }
    
    .main_description > h1 {
        font-size: 20pt;
    }
    
    .main_description > h2 {
        font-size: 10pt;
        padding-bottom: 3em;
    }
    
    .main_image img {
        width: 80%;
        height: 90%;
        margin: 4vh;

    }
    
    .nav_list {
        display: none;
    }

    .nav_list.visible {
        display: flex;
        flex-direction: column;
    }


    .logo img{
        width: 160px;
        padding-left: 1em;
    }
   
    
    .nav_wide {
        display: none;

    }
    
    #nav_icons  {
        padding-right: 5em;
    }

    #nav_icons a {
        font-size: 20pt;
        padding: 10px;

    }


    #bars {
        display: block;
        position: absolute;
        justify-items: center;
        right: 1em;
    }
    


    .arrivals {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 2em;
    }

    .arrival_item {
        padding-top: 2em;
        padding-bottom: 2em;
        margin-left: 4vh;
    }


    .seasonal_item {
        padding-top: 2em;
        padding-bottom: 2em;
        margin-left: 4vh;
    }

    .seasonal {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 2em;
    }

    .original {
        display: grid;
        grid-template-columns: repeat(1,1fr) ;
        padding: 2em;
    }

    .original_item {
        padding-top: 1em;
        padding-bottom: 4em;
        margin-left: 4vh;
    }

    .description h1,h3 {
        padding: 3px;
    }


    .contact {
        margin-bottom: 5em;
    }

}

/*Wide Screen*/

@media screen and (min-width:700px) {

    .nav_list{
        display: none;
    }

    .item {
        padding: 2.5em;
    }

    #nav_icons a {
        font-size: 25pt;
    }

 
}


    
